/* Global Variables */

:root {
  --grey-50: #f6f6f6;
  --grey-200: #d1d1d1;
  --grey-100: #e7e7e7;
  --grey-300: #b0b0b0;
  --grey-400: #888888;
  --grey-500: #6d6d6d;
  --grey-600: #5d5d5d;
  --grey-700: #4a4a4a;
  --grey-800: #454545;
  --grey-900: #3d3d3d;
  --grey-950: #262626;
  --color-secondary-100: #0d6efd;
  --color-secondary-200: #0b5ed7;
  --color-secondary-50: #0d6efd80;
  --button-border: #0000000d;
  --font: -apple-system, BlinkMacSystemFont, "Nunito", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navigation Bar */

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--grey-950);
  color: var(--grey-50);
  margin: 0;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title img {
  height: 2rem;
  width: 2rem;
}

.nav-title {
  font-size: 2rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a:any-link {
  font-size: 2rem;
  color: var(--grey-50);
  text-decoration: none;
  transition: transform 200ms;
}

.nav-links a:any-link:hover {
  transform: scale(1.1);
}

/* Main Component */

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;
  min-width: 60vw;
  min-height: 80vh;
  padding: 2rem;
  background-color: var(--grey-50);
  border-radius: 2rem;
}

h1 {
  margin: 0;
}

.info-image {
  width: 50vw;
  height: 25vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

input[type="text"] {
  font-family: var(--font);
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: solid var(--grey-50) 4px;
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
}
input[type="text"]:focus {
  box-shadow: 0px 0px 1px 4px var(--color-secondary-50);
}

input[type="submit"] {
  font-family: var(--font);
  font-size: 2rem;
  width: 10rem;
  height: 3rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  color: var(--grey-50);
  background-color: var(--color-secondary-100);
  border: solid var(--button-border) 4px;
  transition: all 0.15s ease-in;
}
input[type="submit"]:hover {
  background-color: var(--color-secondary-200);
  box-shadow: 0px 0px 0.5px 2px var(--color-secondary-100);
  scale: 1.03;
}

.loader {
  width: 200px;
  height: 200px;
}

.success-message {
  text-align: center;
  color: #008000;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff0000;
}

.not-found-image {
  width: 200px;
  height: 150px;
}

@media screen and (max-width: 768px) {
  .nav-title {
    font-size: 1.5rem;
  }

  .nav-links a:any-link {
    font-size: 1.25rem;
  }

  main {
    padding: 0;
  }
  .container {
    width: 98vw;
    height: 80vh;
  }

  .info-image {
    width: 90vw;
    height: 25vh;
  }

  input[type="text"] {
    width: 95%;
  }
}
