:root {
  --grey-50: #f6f6f6;
  --grey-200: #d1d1d1;
  --grey-100: #e7e7e7;
  --grey-300: #b0b0b0;
  --grey-400: #888888;
  --grey-500: #6d6d6d;
  --grey-600: #5d5d5d;
  --grey-700: #4a4a4a;
  --grey-800: #454545;
  --grey-900: #3d3d3d;
  --grey-950: #262626;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  margin: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--grey-950);
  color: var(--grey-50);
}

.title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav img {
  height: 2rem;
}

.nav-title {
  font-size: 2rem;
}

svg {
  margin: auto;
  background: #fff;
  display: block;
  background-color: var(--grey-50);
}

.nav-links {
  display: flex;
  gap: 1rem;
}
.nav-links a:any-link {
  font-size: 2rem;
  text-decoration: none;
  color: var(--grey-50);
  transition: 200ms;
}
.nav-links a:any-link:hover {
  scale: 1.1;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.container {
  box-sizing: border-box;
  background-color: var(--grey-50);
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 60vw;
  padding: 2rem;
  align-items: center;
  border-radius: 2rem;
}

h1 {
  margin: 0;
}

.info-image{
  height: 25vh;
}

form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

input[type="text"] {
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: white;
  border: solid white 4px;
  outline: none;
  transition: ease-in-out 0.2s;
}
input[type="text"]:focus {
  box-shadow: 0px 0px 1px 4px rgba(13, 110, 253, 0.5);
}

input[type="submit"] {
  font-family: "Ubuntu";
  font-size: 2rem;
  width: 10rem;
  height: 3rem;
  background-color: #0d6efd;
  color: white;
  border-radius: 1rem;
  margin-top: 1rem;
  transition: 0.15s ease-in;
  cursor: pointer;
  border: solid rgb(0, 0, 0, 0.05) 4px;
}
input[type="submit"]:hover {
  background-color: #0b5ed7;
  box-shadow: 0px 0px 0.5px 2px #0d6efd;
  scale: 1.03;
}

.error-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found-image{
  height: 150px;
  width: 200px;
}

@media screen and (max-width: 768px) {
  main {
    padding: 0;
  }
  .container {
    height: 80vh;
    width: 98vw;
  }
  input[type="text"] {
    width: 95%;
  }
}
